:root{
    --primary-color:#ee4d2d;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;  
    --boder-color:#dbdbdb;
    --golden-star:#ffce3d;
    --header-height:120px;
    --navbar-height:34px;
    --header-with-search-height:calc(var(--header-height) - var(--navbar-height));
}
*{
    box-sizing: inherit;
    margin: 0;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    
}
/* Test Reponsive */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: calc(100% - 16.6667%);
}
/* Animation */
@keyframes FadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes Growth{
    from{
        transform: scale(--Growth-from);
    }
    to{
        transform: scale(--Growth-to);
    }
}
/* Modal */
.modal{
  
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: FadeIn linear 0.1s;
}
.modal__overlay{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal__body{
    margin: auto;
    /* border-radius: 5px;
    background-color: var(--white-color); */
    z-index: 1;
    --Growth-from:0.7;
    --Growth-to: 1;
    animation: Growth linear 0.1s;
}
/* Button style */
.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 16px;
    background-color: var(--white-color);
    cursor: pointer;
    color: var(--text-color);
    line-height: 1.6rem;
}
.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.btn.btn--disable{
    color: #949494;
    background-color: #c3c3c3;
    cursor: default;
}
.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 8px;
}
/* Selection */
.select-input{
    height: 34px;
    width: 200px;
    padding: 0 12px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    position: relative;
    z-index: 1;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__label{
    font-size: 1.4rem;
}
.select-input__icon{
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
}
.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 108%;
    border-radius: 2px;
    background-color: var(--white-color);
    padding:10px 16px;
    list-style: none;
    display: none;
}
.select-input__item:first-child{
    border-bottom: 1px solid #ececec;
}
.select_input__link{
    text-decoration: none;
    color: var(--text-color);
    padding: 6px 0;
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
}
.select_input__link:hover{
    color: var(--primary-color);
}
/* Pagination */
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.pagination-item{
    margin: 0 12px;

}
.pagination-item--active .pagination-item__link{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.pagination-item--active .pagination-item__link:hover{
    background-color: #ed5c3f;

}
.pagination-item__link{
    --height:30px;
    text-decoration: none;
    text-align: center;
    line-height: var(--height);
    display: block;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    border-radius: 2px;

}
