.header{
    padding-top: 4px;
    height:var(--header-height);
    background-image: linear-gradient(0 ,#fe6433, #f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    display: flex;
}
.header__navbar-user{
    display: flex;
    align-items: center;
    position: relative;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
}
.header__navbar-user-name{
    font-size: 1.4rem;
    margin-left: 4px;
    font-weight: 500;
}
.header__navbar-user-menu{
    position: absolute;
    z-index: 1;
    width: 160px;
    padding-left: 0;
    padding-top: 4px;
    background-color: var(--white-color);
    list-style: none;
    border-radius: 2px ;
    top: 100%;
    right: 0;
    box-shadow: 0 1px 2px #eaeaea;
    display: none;
    animation: FadeIn ease-in 0.1s;
    z-index: 2;
}
.header__navbar-user-menu::before{
    content: "";
    position: absolute;
    border-width: 20px 27px;
    border-style: solid;
    border-color:transparent transparent var(--white-color) transparent ;
    right: -1px;
    top: -28px;
}
.header__navbar-user-menu::after{
    content: "";
    position: absolute;
    top: -8px;
    right: 0;
    width: 48%;
    display: block;
    height: 8px;
}
.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-menu:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-item--separate{
    border-top: 1px solid rgba(0, 0, 0, 0.05);

}
.header__navbar-user-item a:hover{
    background-color:#fafafa ;
}
.header__navbar-user-item a {
    text-decoration: none;
    display: block;
    padding: 6px 16px ;
    color: var(--text-color);
}
.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 300;
    font-size: 1.4rem;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
display: inline-flex;
align-items: center;
}
.header__navbar-item:hover,
.header__navbar_icon:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-width: 26px;
}

.header__navbar-item--has-qr:hover .header_qr{
    display: block;
    animation: FadeIn ease-in 0.5s;
}
.header__navbar-item-has-notify:hover .header_notify{
    display: block;
}
.header__navbar-item--strong{
    font-weight: 400;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left:1px solid #FB9086 ;
    height: 15px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%) ;
}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon-link:nth-child(2){
    padding-left: 3px;
}
.header__navbar_icon{
    font-size: 1.6rem;
    margin: 0 4px
}
.header__navbar-item--nopointer{
    cursor: text;
    color: var(--white-color);
}
/* Header QR Code */
.header_qr{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    top: 118%;
    left: 0;
    border-radius: 2px;
    display: none;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.header_qr::before{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    top: -16px;
    left: 0;
}
.header_qr-img{
    
    width: 100%;
    padding: 8px;

}
.header_qr-apps{
    display: flex;
    justify-content: space-between;

}
.header_qr-link:first-child{
    margin-left: 20px;
}
.header_qr-link:last-child{
    margin-right: 20px;
}
.header_qr-download-img{
height: 16px;
}
/*Header Notify  */
.header_notify{
    position: absolute;
    z-index: 2;
    top: 138%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    border-radius: 1px solid rgba(0, 0, 0, 0.05) ;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 30px) top;
    animation: Growth ease-in 0.2s;
    display: none;
}
.header_notify::before{
    content: "";
    position: absolute;
    border-width: 20px 27px;
    border-style: solid;
    border-color:transparent transparent var(--white-color) transparent ;
    right: -1px;
    top: -28px;
}
.header_notify::after{
    content: "";
    position: absolute;
    width: 84px;
    height: 12px;
    top: -12px;
    right: 0;
    
}
@keyframes Growth {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header_notify-header{
    height: 40px;
    background-color: var(--white-color);

}
.header_notify-header h3{
    color: #999;
    font-size: 1.4rem;
    margin: 0 0 0 12px;
    line-height: 40px;
    font-weight: 400;
    user-select: none;

}
.header_notify-list{
    padding: 0;
    list-style: none;

}

.header_notify-item--unview{
    background-color: rgba(238, 77, 43 ,0.1);
}
.header_notify-item:hover{
    background-color: rgba(225, 180, 171, 0.1);
}
.header_notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
   

}
.header_notify-img{
    width: 42px;
    object-fit: contain;

}
.header_notify-info{
    padding-left: 12px;
  
}
.header_notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.9rem;

}
.header_notify-description{
    padding-top: 12px;
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
}
.header_notify-footer{
    display: flex;
}
.header_notify-footer-btn{
    padding: 0.8rem 1.6rem ;
    margin: auto;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 400px;
}
/* Authen Modal */
.auth-form{
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;
}
.auth-form__container{
padding: 0 32px;
}
.auth-form__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px 0 12px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
    font-weight: 500;
}
.auth-form__input{
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    margin-top: 16px;
    padding: 0 12px;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #777;
}
.auth-form__aside{
    margin-top: 16px;
    padding: 0 10px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-back{
    margin-right: 8px;
}
.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.auth-form__socials-icon{
    font-size: 1.8rem;
}
.auth-form__socials--facebook {
    background-color: #3a5a98;
    color: var(--white-color);
}
.auth-form__socials--facebook 
.auth-form__socials-icon{
color: var(--white-color);
}
.auth-form__socials--google{
    color: #666;
    background-color: var(--white-color);

}
.auth-form__socials-label{
    padding: 26px;
}
.auth-form__help{
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;

}
.auth-form__help-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}
.auth-form__help-saparate{
    display: block;
    border-left: 1px solid #eaeaea;
    height: 20px;
    margin: 0 12px;
}
.auth-form__help-link-fogot{
    color: var(--primary-color);
}
/* header with search */
.header-with-search{
    display: flex;
    align-items: center;
    
    height: var(--header-with-search-height);
}
.header_logo{
    width: 200px;
}
.header__logo-img{
    width: 150px;
    padding: 0 8px;
}
.header__search{
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    z-index: 1;
}
/* Header Cart */
.header__cart{
    width: 160px;
    text-align: center;    
}
.header__cart-wrap{
    padding: 0 12px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}
.header__cart-list{
    position: absolute;
    top: calc(100% + 9px);
    right: -8px;
    width: 400px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-color: var(--white-color);
    display: none;
    animation: FadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
    height: 45vh;
}

/* Cart have product */
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-list-item{
    padding: 0;
    list-style: none;
}
.header__cart-item{
    display: flex;
    justify-content: center;

}
.header__cart-item:hover {
    background-color: #F8f8f8;
}
.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8e8e8;
}
.header__cart-item-info{
    width: 100%;
    margin-right:12px ;
}
.header__cart-item-head{
    display: flex;
    height: 42px;
    align-items: center;
    justify-content: space-between;
   
}

.header__cart-item-name{
    flex: 1;
    line-height: 2rem;
    max-height: 4rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    overflow: hidden;
    padding-right: 16px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}
.header__cart-item-price{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
}
.header__cart-item-multiply{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}
.header__cart-item-quantity{
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}
.header__cart-item-description{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}
.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.4rem;
    
}
.header__cart-item-remove:hover{
    cursor: pointer;
    color: var(--primary-color);
}
.header__cart-view{
    float: right;
    margin: 0 12px 12px 0;
}
.header__cart-view:hover{
    background-color: #F05D41;
}
.header__cart-list::after{
    content: "";
    position: absolute;
    cursor: pointer;
    right: 3px;
    top: -30px;
    border-width: 20px 25px;
    border-style: solid;
    border-color:transparent transparent var(--white-color) transparent;
}
.header__cart-no-cart-img{
    width: 60%;
    display: none;
    margin-left: auto;
    margin-right: auto;
}
.header__cart-list--no-cart{
    margin-top: 9px;
    padding: 24px 0;
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-msg{
    display: block;
}
.header__cart-list--no-cart-msg{
    display: none;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 14px;
}
.header__cart-icon{
    font-size: 1.8rem;
    color: var(--white-color);
    margin-top: 6px;
}
.header__cart-notice{
    position: absolute;
    top: -5px;
    right: -4px;
    padding: 1px 6px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border-radius: 10px;
    border: 2px solid #EE4020;
    font-size: 1.4rem;
    line-height: 1.2rem;
}
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    border-radius: 2px;
    color: var(--text-color);
    padding: 0 16px;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
.header__search-select{
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    z-index: 1;

}
.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);

    
}
.header__search-select-icon{
    color: #4a4a4a;
    font-size: 1.4rem;
    margin: 0 16px 0 8px;
}
.header__search-btn{
    height: 34px;
    width: 60px;
    background-color: var(--primary-color);
    border: none;
    margin-right: 3px;
    border-radius: 2px;
    outline: none;

}
.header__search-btn:hover{
    background-color: #fb6445;
    cursor: pointer;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);

}
.header__search-select:hover .header__search-option{
    display: block;
}
.header__search-option{
    position: absolute;
    right: 0;
    top: calc( 100% - 2px);
    margin-top: 16px;
    width: 120px;
    box-shadow: 0  1px #e0e0e0;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: FadeIn ease-in 0.2s;
}
.header__search-option::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    right: 0;
    top: -25%;
}
.header__search-option:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__search-option:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px;
    list-style: none;
    
}
.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 0 4px 0 12px;
    display: none;
}
.header__search-option-item--active i{
    display: inline-block;
}
/* Search History */
.header__search-history{
    position: absolute;
    width: calc(100% - 16px);
    top: calc(100% + 3px);
    left: 0;
    background-color: var(--white-color);
    list-style: none;
    border-radius: 2px;
    box-shadow: 0 1px 5px #D3D3D3;
    display: none;
}
.header__search-history-heading{
    margin: 10px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__search-history-list{
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0;
}
.header__search-history-item{
    height: 38px;
    padding: 0 12px;
    line-height: 38px;

}
.header__search-history-item:hover{
    background-color: #fafafa;
}
.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
}
/* Category */
.app__container{
    background-color: #f5f5f5;
}
.app__content{
   padding-top: 36px;
}
.category{
    background-color: var(--white-color);
    border-radius: 2px;
   
}
.category__heading{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 14px 18px;
    text-transform: uppercase;
}

.category__list{
    padding: 0 0 8px 0;
    list-style: none;
    padding-left: 9px;
}
.category__item{
    position: relative;
}
.category__item:first-child::before{
    display: none;
}
.category__item::before{
    content: "";
    border-top: 1px solid #E1E1E1;
    left: 20px;
    right: 20px;
    position: absolute;
}
.category__item:first-child{
    padding-top: 10px;
}
.category__item--active .category__item-link{
    color: var(--primary-color);
}

.category__item-link{
    display: block;
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 10px 20px;
}
.category__item-link:hover{
    color: var(--primary-color);
}
/* Home Filter */
.home-filter{
    display: flex;
    align-items: center;
    padding: 12px 22px ;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.04);
}
.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    padding-right: 16px;
}
.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
}
.home-filter__page{
    display: flex;
   align-items: center;
   margin-left: auto;
}
.home-filter__page-num{
    margin-right: 22px;
    font-size: 1.5rem;
    color: var(--text-color);
}
.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-control{
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow: 0 1px 1px #eae5e5;
    
}
.home-filter__page-btn{
    flex: 1;
    display: flex;
    text-decoration: none;
    background-color: var(--white-color);
}
.home-filter__page-btn--disabled{
    background-color: #f9f9f9;
    cursor: default;
   
}
.home-filter__page-btn--disabled .home-filter__page-btn-icon{
    color: #ccc;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}
.home-filter__page-btn-icon{
    margin: auto;
    color: #555;
    font-size: 1.4rem;
}
/* home product  */
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    border-radius: 2px;
}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    border-top-left-radius: 2px;
}
.home-product-item__name{
    margin: 10px;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}
.home-product-item__price{
    margin:0 0 5px 10px;
    align-items: baseline;
}
.home-product-item__price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;

}
.home-product-item__price-current{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-left: 4px;
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 4px 10px;

}
.home-product-item__like{
    font-size: 1.3rem;
}
i.home-product-item__like-fill{
    display: none;
    color: #b01310;
}
.home-product-item__like--liked .home-product-item__like-fill{
    display: block;
}
.home-product-item__like--liked .home-product-item__like-empty{
    display: none;
}
.home-product-item__rating{
    font-size: 1rem;
    transform: scale(0.8);
    color: #D5d5d5;
    transform-origin: right;
    margin: 1px 0 0 auto;

}
.home-product-item__golden-star{
    color: var(--golden-star);
}
.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 4px;
}
.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__favourite{
    position: absolute;
    top: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    left: -4px;
    background-color: currentColor;
    color: #ee4d2d;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}
.home-product-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    filter: brightness(60%);
    border-top: 3px solid currentColor;
    border-left:3px solid transparent;
}
.home-product-item__favourite span{
    color: var(--white-color);
}
.home-product-item__favourite i {
    font-size: 1rem;
    padding: 0 3px 0 5px;
    color: var(--white-color);
}
.home-product-item__sale-off{
    position: absolute;
    top: -1px;
    right: -1px;
    width: 40px;
    height: 36px;
    border-radius: 0 2px 0 0;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
}
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    color: rgba(255, 216, 64, 0.94);
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;
}
.home-product-item__sale-off-percent{
    font-size: 1.2rem;
    font-weight: 600;
    color: #EE4D2D;
    line-height: 2rem;

}
.home-product-item__sale-off-label{
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.3rem;
    color: var(--white-color);

}
.home-product__pagination{
    margin: 48px 0 32px;
}
/* Footer */
.footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 32px;
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer-list{
    list-style: none;
    padding:10px 0;
}
.footer-item__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: #666;
    padding: 6px 0;

}
.footer-item__link:hover{
    color: var(--primary-color);
}
.footer-item__link-icon{
    font-size: 1.6rem;
    margin-right: 8px;
}
.footer__download{
    display: flex;
}
.footer__download-qr{
    --height:80px;
    width: var(--height);
    height: var(--height);
    border: 1px solid var(--boder-color);
    margin-right: 16px;
}
.footer__download-apps{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.footer__download-app-img{
    height: 16px;
}
.footer__download-app-link{
    color: transparent;
    text-decoration: none;
}
.footer__bottom{
    background-color: #f5f5f5;
    margin-top: 36px;
    padding: 8px 0;
}
.footer__text{
    color: #737373;
    text-align: center;
    font-size: 1.2rem;
}